article.edit-form {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;

  grid-template-areas:
    'user user'
    'form form'
    'score buttons'
    'button button';

  gap: 1.2rem;
}

article.comment-form {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;

  grid-template-areas:
    'form form'
    'avatar button';
  gap: 1.2rem;
}

img.form-avatar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;

  grid-area: avatar;
}

form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: .5rem;
  width: 100%;
  grid-area: form;
}

form textarea {
  border-radius: .5rem;
  border: 1px solid var(--neutral-light-gray);
  padding: .5rem 1rem;
  resize: none;
  width: 100%;
}

form textarea:focus-visible {
  outline: 1px solid var(--primary-moderate-blue);
}

button.form-submit {
  background-color: var(--primary-moderate-blue);
  color: var(--neutral-white);

  width: 5.5rem;
  height: 2.5rem;

  border-radius: .5rem;
  border: none;
  cursor: pointer;
  font-size: .9rem;
  text-transform: uppercase;
  align-self: center;
  justify-self: end;
  grid-area: button;
}

button.form-submit:hover {
  background-color: var(--primary-moderate-blue-hover);
  color: var(--neutral-light-gray);
}

@media screen and (min-width: 768px) {
  article.edit-form {
    grid-template-columns: 2.5rem auto;
    gap: 1.2rem;
    grid-template-areas:
      'score user buttons'
      'score form form'
      'score button button';
  }

  article.comment-form {
    display: flex;
    gap: 1.2rem;
    align-items: flex-start;
  }

  button.form-submit {
    align-self: inherit;
    padding: 0 1.5rem;
    width: auto;
  }
}