
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

div.header-user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

div.header-user-info div {
  display: flex;
  gap: .5rem;
  align-items: center;
}

img.header-user-avatar {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

span.header-you-indicator {
  background-color: var(--primary-moderate-blue);
  color: var(--neutral-white);
  padding: .1rem .4rem;
  border-radius: .15rem;
  font-size: .75rem;
  font-weight: 400;
  margin-left: .25rem;
}

button.header-button {
  display: flex;
  gap: .5rem;
  padding: 0 .5rem;
  color: var(--primary-moderate-blue);
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

div.header-buttons-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

