div.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: center;
  grid-area: user;
}

img.header-user-avatar {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

span.header-you-indicator {
  background-color: var(--primary-moderate-blue);
  color: var(--neutral-white);
  padding: .1rem .4rem;
  border-radius: .15rem;
  font-size: .75rem;
  font-weight: 400;
  margin-left: .25rem;
}

div.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: .5rem;

  align-self: center;
  justify-self: end;

  grid-area: buttons;
}

button.moderate-blue {
  --color: var(--primary-moderate-blue);
  --hover-color: var(--primary-moderate-blue-hover);
}

button.soft-red {
  --color: var(--primary-soft-red);
  --hover-color: var(--primary-soft-red-hover);
}

button.header-button {
  color: var(--color);

  display: flex;
  align-items: center;
  gap: .5rem;

  padding: 0 .5rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

button.header-button:hover,
button.header-button:active,
button.header-button:active svg path,
button.header-button:hover svg path {
  color: var(--hover-color);
  fill: var(--hover-color);
}

@media screen and (max-width: 340px) {
  div.user {
    flex-wrap: wrap;
    gap: .75rem;
  }

  div.header-buttons-container {
    flex-wrap: wrap;
  }
}
