
div.score-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: .5rem;
  border-radius: .5rem;
  width: 100%;
  max-width: 2rem;
  height: 100%;

  background-color: var(--neutral-light-gray);
  color: var(--primary-moderate-blue);
  font-weight: 400;
}

div.score-container button {
  min-width: .688rem;
  min-height: .688rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.score-container button:hover svg path {
  fill: var(--primary-moderate-blue);
}
