div.score-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: .5rem;
  border-radius: .5rem;

  background-color: var(--neutral-light-gray);
  color: var(--primary-moderate-blue);
  font-weight: 400;

  justify-self: start;
  grid-area: score;
}

div.score-container button {
  min-width: .688rem;
  min-height: .688rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.score-container button:hover svg path,
div.score-container button.hit svg path {
  fill: var(--primary-moderate-blue);
}

div.score-container button.hit:hover svg path {
  fill: var(--neutral-light-gray);
}

div.score-container button.hit:hover svg path {
  fill: var(--neutral-light-gray);
}
