:root {
  --primary-moderate-blue: hsl(238, 40%, 52%);
  --primary-soft-red: hsl(358, 79%, 66%);
  --primary-light-grayish-blue: hsl(239, 57%, 85%);
  --primary-pale-red: hsl(357, 100%, 86%);

  --primary-moderate-blue-hover: hsla(238, 40%, 52%, 60%);
  --primary-soft-red-hover: hsla(358, 79%, 66%, 60%);

  --neutral-dark-blue: hsl(212, 24%, 26%);
  --neutral-grayish-blue: hsl(211, 10%, 45%);
  --neutral-light-gray: hsl(223, 19%, 93%);
  --neutral-very-light-gray: hsl(228, 33%, 97%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Rubik', sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: color .3s ease, background-color .3s ease;
}

svg path {
  transition: fill .3s ease;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--neutral-dark-blue);
}

body {
  min-height: 100vh;  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--neutral-very-light-gray);
  font-size: 1rem;
  color: var(--neutral-grayish-blue);
  line-height: 1.5;
  font-weight: 400;
}

time, span, textarea, button {
  font: inherit;
}
